*{
    box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Tahoma;
  font-size: 16px;
}
h3{
  text-align: center
}
.center{
text-align: center;
    font-size: 5vh;
}
ul{
  display:inline-block;
  text-align: left;
  font-size: 3vh;
  
}

a{
  color: #969696;
}
li:hover, a:hover {
    color: mediumslateblue;
}

h3 {
    color: azure;
}
