* {
    box-sizing: border-box;
    /* padding: 0; */
    /* margin: 0; */
}

.body {
    padding: 0;
    margin: 0;
}

.main {
    width: 70%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.half-1 {
    width: 100%;
    height: calc(49%);
}

.box-1 {
    width: 49%;
    height: 100%;
    float: left;
    background-color: rgb(8, 154, 238);
}

.div-2 {
    /* border: 4px solid rgb(0, 0, 0); */
    width: 49%;
    float: right;
    height: 100%;
}

.box-2 {
    width: 33%;
    height: 100%;
    float: left;
    background-color: rgb(8, 154, 238);
}

.div-3 {
    /* border: 4px solid rgb(139, 255, 72); */
    width: 63%;
    float: right;
    height: 100%;
}

/* done */
.div-4 {
    /* border: 4px solid rgb(170, 43, 138); */
    width: 100%;
    height: 30%;
    margin-bottom: 5%;
}

.div-5 {
    /* border: 4px solid rgb(160, 161, 58); */
    width: 100%;
    height: 30%;
    margin-bottom: 5%;
}

.div-6 {
    /* border: 4px solid rgb(55, 27, 180); */
    width: 100%;
    height: 31%;

}

/* done */
.box-3 {
    width: 46.5%;
    height: 100%;
    float: left;
    background-color: rgb(8, 154, 238);
}

.embox-1 {
    width: 46.5%;
    height: 100%;
    float: right;
    background-color: crimson;
}

/* done  */
.embox-2 {
    width: 46.5%;
    height: 100%;
    float: left;
    background-color: crimson;
}

.embox-3 {
    width: 46.5%;
    height: 100%;
    float: right;
    background-color: crimson;

}

/* done  */
.embox-4 {
    width: 47%;
    height: 100%;
    float: left;
    background-color: crimson;
}

.embox-5 {
    width: 46.5%;
    height: 100%;
    float: right;
    background-color: crimson;
}

.halfdiv-7 {
    width: 49%;
    height: 100%;
    float: left;
    /* border: 4px solid rgb(170, 43, 138); */
}

.halfdiv-8 {
    width: 49%;
    height: 100%;
    float: right;
    /* border: 4px solid rgb(55, 27, 180); */
}

/* done  */
.widebox-1 {
    width: 100%;
    height: 64%;
    background-color: rgb(8, 154, 238);
    margin-bottom: 4%;
}

h1 {
    margin: auto;
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    line-height:551px;

}

.halfsmall {
    width: 100%;
    height: 30.5%;
    /* border: 4px solid orange; */
}

/* done  */
.small-1 {
    width: 31%;
    height: 100%;
    float: left;
    background-color: crimson;
}

.small-4 {
    width: 65.5%;
    height: 100%;
    float: right;
    /* border: 4px solid gold; */
}

/* done */
.small-2 {
    width: 47%;
    height: 100%;
    float: left;
    background-color: crimson;
}

.small-3 {
    width: 47%;
    height: 100%;
    float: right;
    background-color: crimson;
}

/*done*/
/* .taller {
    width: 33%;
    height: 100%;
    float: left;
     border: 4px solid rosybrown; 
} */
.tall-5 {
    width: 33%;
    height: 100%;
    float: left;
    background-color: rgb(8, 154, 238);
}

.halftall {
    width: 63%;
    height: 100%;
    float: right;
}

/* done */

.tall-6 {
    width: 47%;
    height: 100%;
    float: left;
    background-color: rgb(8, 154, 238);
}

.longtall {
    width: 46.5%;
    height: 100%;
    float: right;
}

.small-7 {
    width: 100%;
    height: 30.9%;
    background-color: rgb(8, 154, 238);
    margin-bottom: 10%;
}

.halftall-1 {
    width: 100%;
    height: 30.4%;
    background-color: crimson;
    margin-bottom: 10%;
}

.halftall-2 {
    width: 100%;
    height: 30.4%;
    background-color: crimson;
}